{% extends 'DynamoColonizationBundle:Colonization:form.html.twig' %}

{% block action_name %}{{ 'colonization.edit'|trans }}{% endblock %}

{% block colonization_form %}
    <div class="form-group">
        <div class="pull-right">
            {{ form_start(delete_form) }}
            <input type="submit" value="{{ "delete"|trans }}" class="btn btn-danger btn-xs">
            {{ form_end(delete_form) }}
        </div>

        <label class="control-label required" for="colonization_id">Id</label>
        <input type="text" class="form-control" id="colonization_id" value="{{ colonization.id }}" disabled />
        {{ parent() }}
    </div>
{% endblock %}

{% block action_button %}
    <input type="submit" class="btn btn-default" value="{{ "edit"|trans }}" />
{% endblock %}

{% block latitude %}
    {% if colonization.correctMap %}
        {{ colonization.mapLat }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block longitude %}
    {% if colonization.correctMap %}
        {{ colonization.mapLng }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
