
<p class="lead">{{ colonization.note }}</p>

<div class="row">
    {% if colonization.colonizers is not empty %}
    <div class="col-md-{{ colonization.map is not empty ? 4 : 12 }}">
        <h4>{{ "colonization.colonizers"|trans }}</h4>
        <ul>
            {% for user in colonization.colonizers %}
            <li>{{ user.firstName }} {{ user.lastName }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if colonization.map is not empty %}
    <div class="col-md-{{ colonization.colonizers is not empty ? 8 : 12 }}">
        <h4>{{ "colonization.map"|trans }}</h4>
        <div class="thumbnail">
            <div id="colonization-map-{{ colonization.id }}" style="width: 100%; height: 400px;"></div>
        </div>
    </div>
        {% if colonization.mapLat and colonization.mapLng %}
        <script>
            function initColonizationMap{{ colonization.id }}() {
                var uluru = {lat: {{ colonization.mapLat }}, lng: {{ colonization.mapLng }}};
                var map = new google.maps.Map(document.getElementById('colonization-map-{{ colonization.id }}'), {
                    zoom: 12,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initColonizationMap{{ colonization.id }}">
        </script>
        {% endif %}
    {% endif %}
</div>

{% if colonization.photos is not empty %}
<div>
    <h4>{{ "colonization.photos"|trans }}</h4>
    {% for photo in colonization.photos %}
        <div class="thumbnail">
            <img src="{{ asset(photo.dir ~ photo.fileName) }}" alt="{{ photo.title }}" title="{{ photo.title }}" />
        </div>
    {% endfor %}
</div>
{% endif %}